<!-- <div class="fill blue-gradient-bg center">  -->
<div id="loginContainer" class="row-fluid blue-gradient-bg max-height">
	<div class="offset4 span4 max-height">
		<div class="center max-height">
			<div id="formbox">
				<h1 class="text-center">Bluefeed</h1>
				<div class="alert alert-error text-center" ng-repeat="error in errors">
					<strong>Error:</strong>{{error}}
				</div>
				<div class="alert alert-info text-center" ng-repeat="info in infos">
					<strong>Info:</strong>{{info}}
				</div>
				<div class="input-div">
					<input type="text" ng-model="user" id="user" placeholder="Username" class="input-elem input-block-level" style="margin: auto;"/>
				</div>
				<div class="input-div">
					<input type="password" ng-model="pass" id="password" placeholder="Password" class="input-elem input-block-level" style="margin: auto;"/>
				</div>
				<button id="loginSubmit" class="btn btn-large btn-primary btn-block" type="button" ng-click="login()" ng-tap="login()">{{buttonText}}</button>
			</div>
		</div>
	</div>
</div>